# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
# Created by https://www.toptal.com/developers/gitignore/api/next.js,node.js,typescript
# Edit at https://www.toptal.com/developers/gitignore?templates=next.js,node.js,typescript

#!! ERROR: next.js is undefined. Use list command to see defined gitignore types !!#

#!! ERROR: node.js is undefined. Use list command to see defined gitignore types !!#

#!! ERROR: typescript is undefined. Use list command to see defined gitignore types !!#

# End of https://www.toptal.com/developers/gitignore/api/next.js,node.js,typescript
